a{
    color: white;
}

body{
    
}

.background{
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 
header{
     width: inherit;
     min-height: 70px;
     box-sizing: border-box;
}

.section{
/*    background-image: url(../img/tecnologia.png);*/
}